.materias-user-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px;
}
.container-sub-materias-user {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* selects */
.container-filter-materias-user {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.select-materia-user {
  padding: 5px;
  border-radius: 10px;
  color: var(--color-text);
  border: none;
}
.select-materia-user:focus {
  outline: 1px solid var(--color-border);
}

/* card de materia */
.materia-user-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-card);
  padding: 10px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
.materia-user-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-materia-user-card {
  color: var(--color-primary-dark);
  font-size: 1.5rem;
  font-weight: 300;
  transition: var(--transition);
}
.title-materia-user-card:hover {
  color: var(--color-primary);
}
.buttons-container-materia-user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.materia-user-button {
  background-color: var(--color-bg);
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform ease 0.2s;
}
.materia-user-button:hover {
  transform: scale(1.05);
  background-color: #02020219;
}
.materia-user-content {
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
  align-items: center;
}


.title-materias-user {
  color: var(--color-dark);
}

.container-estado-nota-materia {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: center;
}
.nota-materia {
  color: var(--color-text-muted);
}
.number-nota {
  color: var(--color-text);
}
/* colores estado materia */
.estado {
  width: max-content;
  height: max-content;
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 0.8rem;
  border: 0.5px solid var(--color-border);
  font-weight: 600;
}
.aprobada {
  background-color: #3fd4a050;
  color: #134446;
  border: 1px solid #0db808;
}
.cursando {
  background-color: #2551e241;
  color: #071b69;
  border: 1px solid #092cef;
}
.regularizada {
  background-color: #e199074b;
  color: #4b2a01;
  border: 1px solid #cc9a12;
}
.promocionada {
  background-color: #a2ef88;
  color: #042d03;
  border: 1px solid #08a000;
}

/* boton agregar materia */

.add-materia:hover {
  background-color: var(--color-btn);
  color: #fff;
  cursor: pointer;
}