.reseña-card {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  padding: 1rem;
}

.reseña-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 8px;
}
.container-header-name-star{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.reseña-logo {
  width: 3rem;
  height: 3rem;
  font-size: 1.15rem;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-accent)
  );
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.reseña-header-info {
  display: flex;
  flex-direction: column;
}

.reseña-header-info-content {
  display: flex;
  align-items: center;
  gap: 6px
}

.reseña-nombre-usuario {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-text);
}

.reseña-fecha {
  font-size: 1.1rem;
  color: var(--color-text-muted);
  white-space: nowrap;
}

.reseña-comentario {
  font-size: 1.2rem;
  padding-left: 6px;
  color: var(--color-text-muted);
  line-height: 1.55;
  font-style: italic;
}

/* crud */
.div-btns-edit-valoration{
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-self: flex-start;
}
.btn-crud-valoration{
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: var(--color-btn);
  border-radius: 14px;
  cursor: pointer;
  transition: transform ease .3s;
}
.btn-crud-valoration:not(:disabled):hover{
  transform: scale(1.1);
}
.btn-crud-valoration:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}
.icon-edit{
  color: var(--color-primary);
}


/* textarea del formulario para comentario en la valoracion */
.textare-valoracio-profe{
  width: 100%;
  min-height: 120px;
  max-height: 300px;
  padding: 12px 16px;
  font-size: 15px;
  line-height: 1.5;
  color: #1e293b; 
  background-color: #ffffff;
  border: 1px solid #cbd5e1;
  border-radius: 8px; 
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  resize: none; 
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}