@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-bg: #1f1f1e;
  --color-surface: #2a2a28;
  --color-card: #30302e;
  --color-border:var(--color-dark);
  --color-items-bg-dark: #1a1a1a;
  --color-light: #faf9f5;
  --color-dark: #b9b9b3;
  --color-card-bg: #3A3A38;
  --color-btn: rgb(214,44,91);
  --color-primary: #009cd1;
  --color-primary-dark: #144A75;
  --color-border: #1e639b;
  --color-accent: #2FA4A9;
  --color-uno: #009cd1;
  --radius: 12px;
  --transition: all 0.25s ease;
}
html,
body {
  overflow-x: hidden;
}

#root{
  display: flex;
  flex-direction: column;
}
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--);
  font-family: "Inter", sans-serif;
  color: var(--color-light);
  padding-top: 60px;
}

li {
  list-style: none;
}

p.divisor{
  color: var(--color-bg);
}

/* ================= HEADER ================= */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  background-color: var(--color-primary-dark);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
}

/* botón hamburguesa */
.menu-toggle {
  font-size: 35px;
  background: none;
  border: none;
  color: var(--color-light);
  cursor: pointer;
}

/* NAV MOBILE */
.nav-container {
  position: absolute;
  top: 50.7px;
  right: 0;
  width: 100%;
  height: 0px;
  transform: translate(100vw, 0px);
  transition: all ease 0.3s;
}

.nav-container.active {
  display: block;
  transform: translate(0, 0);
  transition: all ease 0.3s;
  z-index: 200;
}
.menu-toggle {
  transition: all ease 0.3s;
}
.hamburquesa-active {
  transform: rotate(180deg);
}
.nav-container ul {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--color-primary-dark);
  backdrop-filter: blur(8px);
  gap: 1rem;
}

.item-nav {
  list-style: none;
}

.item-nav a {
  color: var(--color-light);
  text-decoration: none;
  font-size: 14px;
  transition: opacity .2s ease;
}

.button-ingresar {
  transition: background-color 0.2s ease,  transform .2s ease , opacity .2s ease;
  background-color: var(--color-btn);
  color: var(--color-light);
}
.button-ingresar:hover {
  cursor: pointer;
  transform: translateY(-2px);
  opacity: .6;
}
nav ul li a:hover{
  opacity: .8;
}

/* scroll en secciones */
section {
  scroll-margin-top: 60px;
}

/* botón */
.button-ingresar {
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  font-size: 13px;

}

.container-logo-header {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* svg logo */
/* contenedor */
.container-svg-logo-header {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: .5px solid var(--color-dark);
}

/* svg */
.svg-logo-header {
  width: 70%;
  height: 70%;
}

/* colores dinámicos */
.svg-logo-header rect:nth-child(1),
.svg-logo-header rect:nth-child(4) {
  fill: var(--color-light);
}

.svg-logo-header rect:nth-child(2),
.svg-logo-header rect:nth-child(3) {
  fill: var(--color-primary);
}

/* ================= DESKTOP ================= */

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .nav-container {
    transform: translate(0px);
    position: static;
    width: auto;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-container ul {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
  }
}

/* ================= TOP INFO ================= */

.descripciones-top-visual {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 1rem 1rem;
}

.descripciones-top-visual p {
  min-width: max-content;
  padding: 6px 10px;
  border-radius: 20px;
  background: var(--color-primary);
  font-size: 12px;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* ================= INICIO ================= */

.inicio {
  padding: 2rem 1rem;
}


.container-inicio-texto {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.description-inicio{
  color: var(--color-card-bg);
  font-size: 14px;
  font-weight: 500;
}
.title-principal h1 {
  font-size: clamp(1.8rem, 6vw, 3rem);
  color: var(--color-primary);
}

.title-principal b {
  color: var(--color-card-bg);
}

/* botones */
.buttons-inicio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons-inicio button {
  padding: 12px;
  border-radius: var(--radius);
  border: none;
  background: var(--color-btn);
  color: var(--color-light);
  font-weight: 500;
  transition: var(--transition);
  cursor: pointer;
}

.buttons-inicio button:hover {
  opacity: .7;
  transform: translateY(-2px);
}

/* stats */
.description-inicio-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.childrem-description-inicio {
  background: var(--color-primary);
  border-radius: var(--radius);
  padding: 12px;
  text-align: center;
  font-size: 13px;
  transition: var(--transition);
}
.childrem-description-inicio:hover{
  transform: scale(1.04);
}

/* ================= SECTIONS ================= */

.divisor{
  color: var(--color-bg);
}
section {
  padding: 2.5rem 1rem;
}

/* títulos */
.pre-title p {
  color: var(--color-dark);
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.pre-title i {
  width: 20px;
  height: 1px;
  background: var(--color-dark);
}
/* ================= CARDS ================= */

.card {
  background: var(--color-primary);
  border-radius: var(--radius);
  padding: 1rem;
  transition: var(--transition);
}
.card:hover {
  transform: scale(1.02);
  border-color: #555;
}

/* ================= GRID GENERICO ================= */

.container-info-carreas-area,
.container-info-carreas-area-cuatrimestre-activo,
.container-profes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* ================= CARRERAS ================= */

.info-carrera-item {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-carrera {
  font-size: 17px;
  font-weight: 700;
}

.description-carrera {
  font-size: 12px;
  color: var(--color-light);
}

.items-materias-por-carrera {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.materi-carrera {
  background: var( --color-btn);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 11px;
}
.index-carrera{
  color: var(--color-light);
}

/* ================= CUATRIMESTRE ================= */

.container-materia-en-curso {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-materia-curso {
  font-size: 17px;
}

.schedule {
  font-size: 12px;
  color: var(--color-light);
}

.list-profesores-materia-cuatrimestre {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.container-materia-en-curso .profe-initials{
  font-size: 12px;
  color: var(--color-light);
  background-color: var(--color-btn);
  padding: 5px;
  border-radius: 10px;
}
.container-materia-en-curso ul {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.title-top-careras-cuatrimestre p{
  color: var(--color-card-bg);
}

/* ================= PROFESORES ================= */

.item-profesor-materia {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.descripcion-profe {
  display: flex;
  gap: 15px;
  align-items: center;
}

.departament-profe {
  font-size: 12px;
  color: var(--color-light);
}

.rating span {
  font-size: 14px;
}
.profe-initials, .index-profe{
  color: var(--color-light);
}


/* ================= NOVEDADES ================= */

.container-novedades {
  padding: 0.5em 0em;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

.container-novedad {
  min-width: 240px;
  padding: 1rem;
}

.title-dia {
  font-size: 18px;
}

.text-novedad {
  font-size: 13px;
  color: var(--color-light);
}
.categoria-novedad{
  color: var(--color-primary);
}

/* ================= FOOTER ================= */

.footer {
  background: var(--color-primary-dark);
  backdrop-filter: blur(10px);
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  padding: 2rem 1rem;
}

/* brand */
.footer-brand {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-logo-text {
  font-weight: 600;
}

.footer-description {
  font-size: 13px;
  color:#faf9f5;
  max-width: 300px;
}

/* links */
.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.footer-links h4 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
}

.footer-links a {
  display: block;
  font-size: 13px;
  color:#ffffff;
  text-decoration: none;
  margin-bottom: 6px;
  transition: 0.2s;
}

.footer-links a:hover {
  color: var(--color-light);
}

/* bottom */
.footer-bottom {
  border-top: .5px solid var(--color-dark);
  text-align: center;
  padding: 1rem;
  font-size: 12px;
  color: var(--color-light);
}

/* ========== MATERIAS ============== */
.container-materias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 10px; */
}

/* contenerdor de materias */
.container-materias-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.materia-item {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 16px;
  gap: 10px;
  cursor: pointer;
  transition: transform ease .2s;
}
.materia-item:hover{
  transform: scale(1.04);
}
.materia-name {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-light);
}

.materia-carrera-name {
  font-size: 15px;
}
.container-profesor-name {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.materia-profesor-name {
  font-size: 12px;
  padding: 5px;
  border-radius: 10px;
  color: var(--color-light);
  background-color: var(--color-btn);
}

/* input search */
.container-input-materias {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
}
.input-search-materia {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: var(--color-primary);
  border: none;
  color: var(--color-light);
  border-radius: 10px;
  margin-bottom: 20px;
}

.input-search-materia::placeholder {
  border: none;
  color: var(--color-light);
}
.input-search-materia:focus {
  outline: none;
}

.title-secction-materias {
  color: var(--color-bg);
  font-size: 14px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.line-title {
  display: inline-block;
  width: 20px;
  height: 1px;
  background: var(--color-bg);
}

/* paginacion de materias */
.container-btn-paginacion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
  margin-top: 10px;
  color: var(--color-card-bg);
}

.pagina-anterior, .pagina-siguiente{
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: var(--color-light);
  background-color: var(--color-btn);
  cursor: pointer;
}

.pagina-anterior:disabled, .pagina-siguiente:disabled{
  opacity: .6;
}
.pagina-index{
  font-weight: 600;
  font-size: 18px;
}

/* ============ MATERIA DETALLE ============ */
.container-section-materia-detalle{
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-materia-detalle{
 display: flex;
 flex-direction: column;
 gap: 15px;
 padding: 40px;
 width: max-content;
}

.container-info-materia-detalle-profes{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title-profes-detalle{
  color: var(--color-light);
  font-weight: 700;
}

.cod-materia-detalle b, .profe-materia-detalle b{
  color: var(--color-light);
  background-color: var(--color-btn);
  padding: 2px 5px;
  border-radius: 10px;
}

.email-profe-materia-detalle{
  font-size: 13px;
}
.info-mareria-detalle-profe{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.email-profe-materia-detalle{
  color: #144A75;
}
.email-profe{
  color: var(--color-light);
  padding: 2px 5px;
  border-radius: 10px;
  margin-right: 5px;
}

.list-coorrelativas{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.list-coorrelativas h5{
  color: var(--color-light);
  width: max-content;
  background-color: var(--color-card-bg);
  padding: 2px 5px;
  border-radius: 10px;
}
.list-coorrelativas li{
  color: var(--color-light);
  font-size: 13px;
  list-style:circle;
}

/* ============= LOGIN ============= */
.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
}

.login-box {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.login-title {
  font-size: 22px;
  margin-bottom: 5px;
  color: var(--color-primary);
}

.login-subtitle {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.btn-primary {
  width: 100%;
  background-color:var(--color-btn);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.btn-primary:hover {
  background-color: var(--color-primary);
}

.login-divider {
  margin: 20px 0 10px;
  font-size: 13px;
  color: #666;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.2s;
}

.login-form input:focus {
  border-color: var(--color-primary);
}

.forgot {
  font-size: 12px;
  color: #777;
  margin-top: 10px;
  cursor: pointer;
}

/* selec carrera */
.select-input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.2s;
  background-color: white;
}

.select-input:focus {
  border-color: var(--color-primary);
}


/* ================= TABLET ================= */

@media (min-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  .container-materias-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* ================= DESKTOP ================= */

@media (min-width: 1024px) {
  .footer-container {
    max-width: 1200px;
    margin: auto;
  }
  .container-materias-list{
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

/* ================= BACKGROUND ================= */

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("../src/assets/Logo-UNO.png");
  background-repeat: no-repeat;
  background-size: 104%;
  background-position: center;
  opacity: 0.2;
  background-position: 50% 50% ;
  z-index: -1;
}

/* ================= TABLET ================= */

@media (min-width: 768px) {
  .nav-container ul {
    display: flex;
    gap: 1rem;
  }

  .buttons-inicio {
    flex-direction: row;
  }

  .description-inicio-table {
    grid-template-columns: repeat(4, 1fr);
  }

  .container-info-carreas-area {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-profes {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ================= DESKTOP ================= */

@media (min-width: 1024px) {
  .inicio {
    max-width: 1200px;
    /* margin: auto; */
  }

  .container-info-carreas-area {
    grid-template-columns: repeat(3, 1fr);
  }

  .container-profes {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-info-carreas-area-cuatrimestre-activo {
    grid-template-columns: repeat(4, 1fr);
  }
  body::before{
    background-size: 55%;
  }
}


p.divisor{
  color: var(--color-bg);
}
 p.divisor i{
  background-color: var(--color-bg);
 }
