@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
  --color-dark: #777773;
  --color-light: #faf9f5;
  --paddin-section: 52px
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1f1f1e;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

/* HEADER - NAVEGACION */
header {
  width: 100dvw;
  height: 7dvh;
  padding: 5px 2% 5px 2%;
  box-shadow: 0px 12px 49px -22px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 12px 49px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 12px 49px -22px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: #1f1f1e;
  z-index: 300;
}

/* estiloa para el logotipo */
.container-svg-logo-header {
  border: solid 1px var(--color-dark);
  width: max-content;
  border-radius: 20%;
  padding: 5px;
  object-fit: cover;
  display: flex;
}
.svg-logo-header {
  width: 20px;
  height: 20px;
}

.container-logo-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.text-logo p {
  color: var(--color-light);
  font-weight: 700;
}

/* lista de items navegacion */
.nav-container ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item-nav{
  list-style: none;
  transition: opacity ease .3s;
  font-size: 13px;
}

.item-nav a{
  text-decoration: none;
  color: var(--color-dark);
}
.item-nav:hover{
  opacity: .4;
}

.button-ingresar{
  border-radius: 10px;
  padding: 7px 12px 7px 12px;
  border: solid .5px #7777736e;
  transition: opacity ease .3s;
}
.button-ingresar a{
  color: var(--color-light);
  font-weight: 500;
}

/* descripciones botton header - top main */
.descripciones-top-visual{
  width: 100dvw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  overflow-x: scroll;
}
.descripciones-top-visual p{
  text-align: center;
  border: solid .5px #7777736e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
  padding: 10px;
  font-size: 13px;
}
.item-top-uno{
  gap: 10px;
}


/* estilos para inicio*/
/* recuerda cambir en el responsive los % asi lo pasamos a una sola columna */
.inicio {
  overflow: hidden;
  display: grid;
  height: 87vh;
  grid-template-columns: 1.3fr 1fr;
  place-items: center;
}
@media (max-width: 768px) {
  .inicio {
    grid-template-columns: 1fr;
  }
}

.container-inicio-texto{
  padding: 52px;
  height: max-content;
}

.container-inicio-texto .children-block{
  margin-top: 15px;
}

.pre-title p i{
  display: block;
  width: 20px;
  height: 1px;
  background-color: var(--color-dark);
  color: var(--color-dark);
}
.pre-title p{
  color: var(--color-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.title-principal h1{
  color: var(--color-light);
  font-size: clamp(1.5rem, 4vw + 1rem, 3rem);
}
.title-principal h1 b{
  color: var(--color-dark);
}
.container-inicio-texto{
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 100;
}

.description-inicio p{
  color:  var(--color-dark);
  font-weight: 500;
  line-height: 1.5;
}

.buttons-inicio{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.buttons-inicio button{
  border-radius: 10px;
  padding: 12px 20px 12px 20px;
  background-color: transparent;
  color: var(--color-light);
  border: solid .5px #7777736e;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: opacity ease .3s;
}

.buttons-inicio button:hover{
  opacity: .4;
  cursor: pointer;

}
.description-inicio-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch; 
  overflow: hidden;
  border: solid .5px #7777736e;
  border-radius: 10px;
}

.childrem-description-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid .5px #7777736e;
  padding: 20px 20px;
  margin: none;
}

.childrem-description-inicio:last-child {
  border-right: none;
}

.description-inicio-table p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-light);
  font-size: 12px;
  transition: transform ease .3s;
}
.description-inicio-table p:hover{
  transform: scale(1.2);
  cursor: default;
}



/* stilos para el svg del inicio */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("./assets/fondo-11.svg");
  background-repeat: no-repeat;

  background-size: 450%;        /* 🔥 zoom */
  background-position: 40% 50%; /* 🔥 mover */

  z-index: -1;
}


/* SECTION CARRERAS del area */

.carreras-area{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 52px;
}
.title-top-careras-uno{
  margin-bottom: 50px;
  width: 100%;
}

.container-info-carreas-area{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: scroll;
  justify-content: center;
  align-items: center;
  background-color: #30302E;
  border: .5px solid #7777736e;
  border-radius: 15px;
  height: max-content;
  height: 500px;
  gap: 0px ;
}
.index-carrera{
  color: var(--color-dark);
}
.title-carrera{
  color: var(--color-light);
}
.description-carrera{
  color: var(--color-dark);
  font-size: 14px;
}

.items-materias-por-carrera{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 5px;
  height: max-content;
  /* background-color: aliceblue; */
  overflow-y: scroll;
  overflow-x: hidden;
}
.materi-carrera{
  width: max-content;
  height: max-content;
  list-style: none;
  background-color: #1f1f1e;
  padding: 5px 8px;
  color:var(--color-light);
  border: .5px solid #7777736e;
  border-radius: 5px;
  font-size: 12px;
}

.info-carrera-item{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 250px;
  width: 100%;
  border: .5px solid #77777331;
  padding: 2em;
}

/* seccion cuatrimestre activo */
.cuatrimestre-activo{
  padding: var(--paddin-section);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}
.container-title-top-cuatri{
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  align-items: flex-start;
  margin-bottom: 30px;
}
.title-top-careras{
  display: flex;
  justify-content: center;
  width: max-content;
  gap: 20px;
}
.description-cuatri-active-top{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #008001;
  background-color: var(--color-light);
  padding: 5px 10px;
  border-radius: 10px;
}
.container-info-carreas-area-cuatrimestre-activo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  padding: 0em;
  width: 100%;

}
.container-materia-en-curso{
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
  gap: 10px;
  border: .5px solid #77777325;

  color: var(--color-dark);
  padding: 2em;
  height: 100%;
}

.title-materia-en-curso-cuatrimestre{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.title-materia-curso{
  color: var(--color-light);
}
li{
  list-style: none;
}
.list-profesores-materia-cuatrimestre{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.materia-code{
  background-color: #1f1f1e;
  padding: 3px 5px;
  height: max-content;
  font-size: 12px;
  border-radius: 10px;
}
.title-materia-curso{
  font-size: 18px;
  width: 70%;
}
.carrera-cuatri-activo-materia, .item-list-materia-curso-profesor{
  font-size: 14px;
}
.profe-initials{
  border: .5px solid #7777736e;
  background-color: #1f1f1e;
  font-weight: 500;
  border-radius: 50%;
  font-size: 10px;
  padding: 3px;
}
.item-list-materia-curso-pro{
  font-size: 12px;
}

/* seccion de profesores */

.profesores{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--paddin-section)
}
.container-profes{
  width: 100%;
  grid-template-columns: 1fr;
  padding: 0px;
  gap: 0px;
}
.container-title-secction-profes{
  align-self: flex-start;
}
.title-secction-profes{
  width: max-content;
}

.item-profesor-materia{
  padding: 1em;
  width: 100%;
  border: 0.5px solid #7777733b;
  display: grid;
  grid-template-columns: 2.5fr 2fr 1fr;
  height: 100%;
}
.profesores .title-top-careras-uno{
  width: 90%;
}
.rating{
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}
.rating span {
  color: gold;
  font-size: 14px;
}
.ratting-profe{
  color: var(--color-light);
}

.descripcion-profe{
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  align-items: center;
  justify-content: center;
}
.descripcion-profe p{
  color: var(--color-dark);
}
.descripcion-profe h4{
  color: var(--color-light);
}
.rating-resenias-profe{
  padding: 10px;
}
.index-profe{
  font-size: 20px;
}
.departament-profe{
  font-size: 13px;
  color: var(--color-dark);
}


/*---------------
---- NOVEDADES
---------------- */

.section-novedades{
  padding: var(--paddin-section);
}
.container-novedades{
  display: flex;
  flex-direction: column;
  height: max-content;
  border: .5px solid #7777733b ;
  overflow-y: hidden;
  overflow-x: scroll;
}
.container-novedad{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  border: .5px solid #7777733b;
}

.indice-novedad p{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.title-light{
  color: var(--color-light);
}
.text-darck{
  color: var(--color-dark);
}
.container-novedad{
  width: 100%;
}
.title-dia{
  font-size: 20px;
}
.categoria-novedad-title{
  font-size: 18px;
}
.text-novedad{
  font-size: 15px;
}